In [54]:
import pandas as pd
import time

# Pandas
start_time = time.time()
df_pandas = pd.read_csv('/Users/elenayun/Desktop/DG/test_data.csv',index_col=0)
pandas_time = time.time() - start_time

In [55]:
import dask.dataframe as dd

# Dask
start_time = time.time()
df_dask = dd.read_csv('/Users/elenayun/Desktop/DG/test_data.csv')
dask_time = time.time() - start_time

In [58]:
import ray
from ray.data import read_csv


# Ray
ray.init(ignore_reinit_error=True)
start_time = time.time()

df_ray = read_csv('/Users/elenayun/Desktop/DG/test_data.csv')
ray_time = time.time() - start_time
ray.shutdown()

2023-08-16 11:03:01,612	INFO worker.py:1621 -- Started a local Ray instance.
2023-08-16 11:03:03,544	INFO read_api.py:374 -- To satisfy the requested parallelism of 16, each read task output will be split into 16 smaller blocks.

In [59]:
# Compute Execution
print("Pandas Time:", pandas_time)
print("Dask Time:", dask_time)
print("Ray Time:", ray_time)

Pandas Time: 0.011242866516113281
Dask Time: 0.012354135513305664
Ray Time: 0.5744607448577881

In [61]:
# Remove special characters and white space
df_pandas.columns = df_pandas.columns.str.replace('[^\w\s]', '').str.strip()

FutureWarning: The default value of regex will change from True to False in a future version.

In [45]:

import yaml

# Load YAML schema
with open('/Users/elenayun/Desktop/DG/column_names.yaml') as yaml_file:
    yaml_data = yaml.safe_load(yaml_file)

# Validate Pandas DataFrame
expected_columns = yaml_data['columns']
if len(df_pandas.columns) == len(expected_columns) and all(col in df_pandas.columns for col in expected_columns):
    print("Columns are valid.")
else:
    print("Columns do not match expected values.")

Columns are valid.

In [46]:
# Write the DataFrame to a pipe-separated text file in gz format
df_pandas.to_csv('test_data_pipe_delimited.gz', sep='|', compression='gzip', index=False)

In [62]:
df_pandas

  First Name Last Name  Age  Salary
0       John       Doe   25   50000
1       Jane     Smith   30   60000
2    Michael  Williams   28   55000